.add-comments-form {
  /* color: red; */
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: var(--white);
  padding: 2.4rem;
  border-radius: 8px;
}

.hide-form {
  display: none;
  color: red;
}

.user-img-div {
  height: 4rem;
  width: 4rem;
}

.reply-text-div {
  width: 100%;
  margin: 0 1rem;
  position: relative;
}

.reply-input {
  resize: none;
  width: 100%;
  /* margin: 0 1rem; */
  padding: 1.2rem 2.4rem;
  font-family: var(--mainFont);
  font-size: 1.6rem;
  min-height: 10rem;
  border-radius: 8px;
  /* height: 100px; */
}

.char-counter {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.char-counter-h5 {
  font-size: 1rem;
}

.send-btn {
  /* width: 10.4rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: var(--white);
  border: none;
  /* padding: 0.75rem 0; */
  border-radius: 8px;
  background: var(--modblue);
  cursor: pointer;
  transition: 0.5s ease;
  padding: 1.2rem 3rem;
}

.send-btn:hover {
  opacity: 75%;
}

.mobile-add-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .add-comments-form {
    flex-direction: column;
  }
  .desktop {
    display: none;
  }

  .mobile-add-row {
    display: flex;
    margin-top: 1.2rem;
  }

  .send-btn {
    padding: 0.8rem 2rem;
  }

  .char-counter {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
  }
}
